body {
    background-color: #16202a;
    color: white;
    padding: 8px;
}

.options-container {
    background-color: rgb(49, 57, 66);
    display: flex;
    flex-direction: column;
    padding: 0.75rem !important;
    border-radius: 1.25rem;
}

.options-container input[type="range"] {
    -webkit-appearance: none;
    
    background: linear-gradient(90deg, #ff0000, #ffff00, #00ff00, #00ffff, #0000ff, #ff00ff, #ff0000);
    width: 100%;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

.options-container input[type="range"]::-webkit-slider-thumb {
    filter: grayscale(1) brightness(10000%);
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 50%;
}
.options-container input[type="range"]:active::-webkit-slider-thumb {
    transform: scale(2);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23) !important;
}

.options-container label {
    font-size: 1.5rem;
    user-select: none;
    cursor: pointer;
}

.group {
    display: flex;
    flex-wrap: wrap;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;
    padding: 0.8rem;
    font-size: 2rem;
    font-family: arial;
    text-align: center;
    box-sizing: border-box;
    cursor: default;
}
.inline .square {
    font-size: 1.5rem;
}
.class .square {
    font-size: 1.5rem;
}
.low-saturation .square {
    font-size: 1rem;
}
.gray .square {
    font-size: 1.4rem;
}

.div1 {
    background-color: rgb(0, 100, 250);
    color: rgb(245 222 179);
}

.div2 {
    background-color: #56cf94;
    color: rgb(60, 120, 0);
}

.div3 {
    background-color: hwb(311 0% 54%);
    color: hsl(180 100 80);
}

.div4 {
    background-color: wheat;
    color: #0008;
}

.div5 {
    background-color: rgb(200, 255, 255);
    color: hwb(0 42 58);
}

.div6 {}

.div7 {
    background-color: rgb(0, 29, 29);
    color: hwb(0 84% 0%);
}

.div8 {
    background-color: rgb(0, 85, 85);
    color: hwb(0 75% 0%);
}

.grup-codi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.copy {
    position: absolute;
    right: 0;
    display: block;
    margin: 0.5rem;
    padding: 1px 14px 3px;
    background-color: #5f7a14;
    color: white;
    border: none;
    border-radius: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    outline: none !important;
}

.pre-wrapper {
    position: relative;
    display: flex;
    max-width: 100%;
}

.codi {
    color: rgb(255, 255, 255);
    background-color: #1e1e1e;
    border: 2px solid gold;
    width: fit-content;
    border-radius: 1.5rem;
}
#codi-hidden {
    display: none;
}



.boing {
	cursor: pointer;

    transform-origin: center;

    transition: transform 0.1s, border-radius 0.3s, color 0.3s;

    &:active {
        transform: scale(0.9) !important;
    }
    &:disabled {
		pointer-events: none;
    }
}


/* Pantalla PC */
@media only screen and (min-width: 576px) {
    
}
/* Pantalla Mòbil */
@media only screen and (max-width: 575px) {
    
}
